<!------ Include the above in your HEAD tag ---------->

<!--<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
 This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->

<script src='/javascripts/script.js' type='text/javascript'></script>
<script src='/javascripts/jquery.validate.js'></script>
<!-- <script>
    $('form').validate();
</script> -->
<script src='/bootstrap/js/bootstrap.min.js'></script>
<!-- <script src='/javascripts/jquery.min.js'></script> -->


<!--<script src='http://mymaplist.com/js/vendor/TweenLite.min.js'></script> -->

</body>
